beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
chromedriver-binary==80.0.3987.106.0
idna==2.8
numpy==1.17.4
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.21.0
selenium==3.141.0
six==1.13.0
soupsieve==1.8
twitter==1.18.0
urllib3==1.24.1
Flask==1.0
line-bot-sdk==1.8.0